---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?q=%20repo:Morred/github-search%20label:startopensource
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1477720978'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/Morred/github-search/issues/2","repository_url":"https://api.github.com/repos/Morred/github-search","labels_url":"https://api.github.com/repos/Morred/github-search/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/Morred/github-search/issues/2/comments","events_url":"https://api.github.com/repos/Morred/github-search/issues/2/events","html_url":"https://github.com/Morred/github-search/issues/2","id":54452074,"number":2,"title":"This
        is another test issue.","user":{"login":"Morred","id":4008608,"avatar_url":"https://avatars.githubusercontent.com/u/4008608?v=3","gravatar_id":"","url":"https://api.github.com/users/Morred","html_url":"https://github.com/Morred","followers_url":"https://api.github.com/users/Morred/followers","following_url":"https://api.github.com/users/Morred/following{/other_user}","gists_url":"https://api.github.com/users/Morred/gists{/gist_id}","starred_url":"https://api.github.com/users/Morred/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Morred/subscriptions","organizations_url":"https://api.github.com/users/Morred/orgs","repos_url":"https://api.github.com/users/Morred/repos","events_url":"https://api.github.com/users/Morred/events{/privacy}","received_events_url":"https://api.github.com/users/Morred/received_events","type":"User","site_admin":false},"labels":[{"id":171641898,"url":"https://api.github.com/repos/Morred/github-search/labels/startopensource","name":"startopensource","color":"bfe5bf","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2015-01-15T14:02:14Z","updated_at":"2016-10-29T05:35:28Z","closed_at":null,"body":"#ruby
        #javascript\r\n\r\nThis is another test issue.\r\n","score":1.0},{"url":"https://api.github.com/repos/Morred/github-search/issues/1","repository_url":"https://api.github.com/repos/Morred/github-search","labels_url":"https://api.github.com/repos/Morred/github-search/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/Morred/github-search/issues/1/comments","events_url":"https://api.github.com/repos/Morred/github-search/issues/1/events","html_url":"https://github.com/Morred/github-search/issues/1","id":54451965,"number":1,"title":"This
   [...]
