@import "colors.scss";

#home {
  text-align: center;
  padding-top: 20px;

  ul {
    list-style-type: none;

    li { 
      float: left; 
      margin: 10px;
    }
  }

  h1 {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .language-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    padding: 0 20px 30px 20px;
    text-align: center;
    overflow: hidden;

    .language-badge {
      font-size: 16px;
      display: inline-block;
      background-color: $green;
      color: white;
      padding: 10px 15px;
      margin: 15px 10px 0 0;

      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
  }

  .info {
    margin-top: 30px;
    padding: 20px;

    .contributor, .maintainer {
      button {
        font-size: 16px;
        padding: 10px 20px;
      }
    }

    .contributor {
      button {
        border: 3px solid $orange;
        color: $orange;
      }
    }

    .maintainer {
      button {
        border: 3px solid $purple;
        color: $purple;
      }
    }
  }

    // .project {
    //   border: 1px solid #ddd;
    //   padding: 10px 10px 10px 20px;
    //   margin-bottom: 10px;
    //   text-align: left;
    //   overflow: hidden;

    //   p {
    //     margin-bottom: 0;
    //   }

    //   span {
    //     float: right;
    //     position: relative;
    //     bottom: 70px;
    //     background-color: $green;
    //     color: white;
    //     padding: 5px 10px;
    //     margin-top: 10px;

    //     -webkit-border-radius: 4px;
    //     border-radius: 4px;
    //   }

    // }

}

