#home {
  text-align: center;

  ul {
    list-style-type: none;

    li { 
      float: left; 
      margin: 10px;
    }
  }

  .hero-unit {
    background-color: #861D84;
    color: white;
    overflow: hidden;
    padding: 30px;
    text-align: center;

    h1 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 50px;
    }

    p {
      font-size: 18px;
    }

    #search {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .info {
    background-color: #ddd;
    padding: 20px;

    button {
      display: inline;
      margin: 0 20px;
    }

    p {
      font-size: 18px;
      display: inline;
    }
  }

  #languages-buttons {
    overflow: hidden;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  #popular-projects {
    .project {
      border: 1px solid black;
      width: 600px;
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      overflow: hidden;

      span {
        float: right;
        position: relative;
        bottom: 70px;
      }

    }
  }

}

