.issue-list {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  .issue-listed {
    border: 1px solid #ddd;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
  }

  p {
    margin-bottom: 0;
  }
}