@import "colors.scss";

.language-badge {
  background-color: $green;
  color: white;
  padding: 5px 10px;
  margin: 15px 10px 0 0;

  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.center { float: center; }
.left { float: left; }