$darkpurple: #861D84;
$green: #69b828;

.stripe {
  background-color: $darkpurple;
  width: 100%;
  color: white;
  margin-bottom: 30px;
  text-align: center;

  h2 {
    padding: 20px 30px;
    margin: 0;
  }
}

.project-list {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  .project-listed {
    border: 1px solid #ddd;
    padding: 10px 10px 20px 20px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;

    .project-title > a {
      color: #333;
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.project {
  .project-languages {
    text-align: center;
    overflow: hidden;
  }
  .description {
    text-align: center;
    font-size: 18px;

    button {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 5px 10px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: 1px outset buttonface;
      background-color: #efefef;

      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
}
