@import "colors.scss";

.stripe {
  background-color: $green;
  width: 100%;
  color: white;
  margin-bottom: 30px;
  text-align: center;

  h2 {
    padding: 20px 30px;
    margin: 0;
  }
}

.project-list {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  .project-listed {
    border: 1px solid #ddd;
    padding: 10px 10px 20px 20px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;

    .project-title > a {
      color: #333;
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.project {
  .project-languages {
    text-align: center;
    overflow: hidden;
    width: 50%;
    margin: 20px auto 20px auto;
    height: 40px;
    padding: 10px;
  }
  .description {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;

  }
  .github {
    text-align: center;

    button {
      font-size: 16px;
      margin-top: 20px;
      padding: 5px 10px;
      -webkit-border-radius: 4px;
      border-radius: 4px;

      span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

}
